@import "styles/variables";
@import "styles/breakpoints";

.link {
  list-style-type: none;
  padding: 0 20px;
  text-decoration: none;
  color: $dark;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  transition: 0.2s ease;
  &:hover {
    color: $dark-grey;
  }
}
